<div class="Edit">
  <h4>Edit Album</h4>
  <label>New Album Title:</label>
  <br>
  <input [(ngModel)]="selectedAlbum.title">
  <br>
  <label>New Album Artist:</label>
  <br>
  <input [(ngModel)]="selectedAlbum.artist">
  <br>
  <label>New Album Image:</label>
  <br>
  <input [(ngModel)]="selectedAlbum.image">
  <br>
  <label>New Youtube Link:</label>
  <br>
  <input [(ngModel)]="selectedAlbum.youtube">
  <br>
  <label>New Album Songs:</label>
  <br>
  <textarea class= "wideInput2"[(ngModel)]="selectedAlbum.songs"></textarea>
  <br>
  <label>New Album Description:</label>
  <br>
  <textarea class="wideInput" [(ngModel)]="selectedAlbum.description"></textarea>
  <hr>
  <button (click)="beginUpdatingAlbum(selectedAlbum)">&#x270E;</button>
  <button (click)="beginDeletingAlbum(selectedAlbum)">&#x2717;</button>
</div>
